/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, address {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
  font-style: normal;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}





/*all*/
html{
  width: 100%;
  height: 100%;
}

body{
  width:100%;
  height: 100%;
  font-family:'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3',
  'Hiragino Kaku Gothic ProN','メイリオ','Meiryo', sans-serif;
}

div{
  background-color: #fff;
}



/*nav*/
nav{
  width: 100%;
  overflow: hidden;
  background-color: #f5b8b5;
  position:fixed;
  z-index: 2;
}

nav ul{
  width: 100%;
}

nav li{
  width: calc(25% - 2px);
  float:left;

  border: 1px solid #f5b8b5;
  border-right:none;
  background-color: #f5b8b5;
  color: #fffef3;
  text-align: center;
}

nav li:last-child{
  border-right: 1px solid #f5b8b5;
}

nav a{
  display:block;
  font-kerning: none;
  font-feature-settings: "liga" 0;
  letter-spacing: 3px;
  line-height: 60px;
  background-color: #f5b8b5;
  color: #775435;
  transition: 0.5s ease-out;
}

nav a:hover{
  background-color: #e2e28a;
  transition: 0.5s ease-out;
}



/*main*/
#main{
  width:100%;
  height:100%;
  text-align: center;
  background-position: center, center;
  background: url("../image/main1.jpg") center no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main h1{
  color: #775435;
  text-shadow: 2px 2px 5px #aaa;
  font-family: 'Nanum Gothic';
  font-size: 400%;
  letter-spacing: 10px;
  font-weight: 100;
}



/*contents*/
.contents{
  width:100%;
  padding: 80px 0;
  border-bottom: medium dashed #e2e28a;
}

.contents:after {
  content:"";
  clear: both;
  display: block;
}

.contents a {
  color: #775435;
  transition: 0.5s ease-out;
}

.contents a:hover {
  color: #e2e28a;
  border-bottom: thin solid #e2e28a;
  transition: 0.5s ease-out;
}

.contents h1 {
  width: 100%;
  text-align: center;
  line-height: 2;
  color: #f5b8b5;
  font-family: 'Nanum Gothic';
  font-size: 200%;
  letter-spacing: 10px;
  font-weight: 100;
  margin-bottom: 40px;
}

.contents p {
  color: #775435;
  margin: 40px 5%;
}

.contents img{
  border-radius: 50%;
  border:5px solid #f5b8b5;
}

/*profile*/
#profile img{
  width: calc(20% - 10px);
  float:left;
  margin-left:5%;
}

#profile table{
  width: 65%;
  float: left;
  line-height:1.5;
  text-align: left;
  margin: 0 5%;
}

#profile td {
  padding: 5px;
  color:#775435;
  border-bottom: thin dashed #775435;
}



/*works*/
#works img {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 5%;
  transition: 0.5s ease-out;
}

#works img:hover {
  opacity: 0.6;
  transition: 0.5s ease-out;
}

#works h2 {
  width: 100%;
  text-align: center;
  line-height: 2;
  color: #f5b8b5;
  font-size: 180%;
  letter-spacing: 10px;
  font-weight: 100;
  margin: 40px auto;
}


.cp_modal01 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cp_modal01 .cp_content p {
  margin: 0;
  line-height: 1.5;
  text-indent: 1em;
}
.cp_modal01 p.citation {
  text-align: right;
}
.cp_modal01 p.citation::before {
  content: '\2500'
}
.cp_modal01 p:not(.citation) {
  margin-bottom: 1.5rem;
}
.cp_modal01 a {
  text-decoration: none;
}
.cp_modal01 label {
  cursor: pointer;
}
.cp_modal01 .cp_modal_btn {
  position: relative;
  display: table-cell;
  background: url("../image/works1.jpg");
  background-size:200px 200px;
  width: 200px;
  height: 200px;
  margin-left: 5%;
  border-radius: 50%;
  text-align: center;
  transition: box-shadow 250ms ease;
  color: #ffffff;
}
.cp_modal01 .cp_modal_btn::before {
  position: absolute;
  top:50%;
  left: 20%;
  content: '';

  font-size: 1em;
  line-height: 0;
  display: inline-block;
  width: 4em;
  color: #ffffff;
}
.cp_modal01 .cp_modal_btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.cp_modal01 .cp_modal_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transition: background-color 250ms linear;
}
.cp_modal01 .cp_modal_cont {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 50%;
  height: 50%;
  overflow-y: scroll;
  margin-top: -18%;
  margin-left: -25%;
  padding: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: transform 250ms ease;
  visibility: hidden;
  z-index: 20;
}
.cp_modal01 .cp_modal_cont .cp_close {
  position: relative;
  float: right;
  font-size: 18px;
  transition: transform 500ms ease;
  z-index: 11;
}
.cp_modal01 .cp_modal_cont .cp_close:hover {
  color: #da3c41;
  transform: rotate(180deg);
}
.cp_modal01 .cp_modal_cont header {
  position: relative;
  display: block;
  border-bottom: 1px solid #00bcd4;
  margin-bottom: 1.5em;
}
.cp_modal01 .cp_modal_cont header h2 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 28px;
}
.cp_modal01 .cp_modal_cont article {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.75;
}
.cp_modal01 .cp_modal_cont footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 10px 0 0;
}
.cp_modal01 .cp_modal_cont footer .cp_btn {
  position: relative;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
}
.cp_modal01 .cp_modal_cont footer .cp_btn:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(88, 24, 26, 0.3);
  transition: width 250ms ease;
  z-index: 0;
}
.cp_modal01 .cp_modal_cont footer .cp_btn:hover:before {
  width: 100%;
}
.cp_modal01 .cp_modal_cont footer .cp_btn.cp_cl {
  background-color: #da3c41;
}
.cp_modal01 #cp_modal {
  display: none;
}
.cp_modal01 #cp_modal:checked ~ .cp_modal_bg {
  visibility: visible;
  background-color: #000000;
  opacity: 0.7;
  transition: background-color 250ms linear;
}
.cp_modal01 #cp_modal:checked ~ .cp_modal_cont {
  visibility: visible;
  transform: scale(1);
  transition: transform 250ms ease;
  z-index: 111;
}
@media only screen and (max-width: 480px) {
  .cp_modal01 .cp_modal_cont{
    top: 30%;
    left: 30%;
    width: 90%;
  }
}




/*footer*/
footer{
  text-align: center;
  background-color: #f5b8b5;
  color: #775435;
  line-height:2;
  letter-spacing: 3px;
  font-size: 80%;
}
