/* node-sass css/style.scss css/style.css -w */

/*all*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}

$breakpoint_max: 767px;
$breakpoint_min: 768px;

%sectionArea {
  width: 80vw;
  min-height: 100vh;
  @media screen and (max-width: $breakpoint_max) {
    margin: 0 10%;
    padding: 64px 0;
  }
  @media screen and (min-width: $breakpoint_min) {
    padding: 80px 0;
    max-width: 1120px;
    margin: 0 auto;
  }
}

$color_base_spring: #ffffff;
$color_main_spring: #f28f99;
$color_accent_spring: #e2e28a;
$color_text_spring: #775435;

.unshown {
  display: none;
}

h1 {
  font-size: 200%;
  margin-bottom: 32px;
}

p {
  line-height: 1.5;
}

/*nav*/
nav {
  width: 100%;
  position: fixed;
  z-index: 99;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: $color_main_spring;

  ul {
    width: 100%;
  }

  li {
    text-align: center;
    list-style-type: none;
  }

  a {
    display: block;
    text-decoration: none;
    font-kerning: none;
    font-feature-settings: "liga" 0;
    letter-spacing: 3px;
    transition: 0.5s ease-out;
    color: $color_text_spring;
  }
}

@media screen and (max-width: $breakpoint_max) {
  #nav__drawer {
    height: 40px;
    line-height: 40px;
  }

  #nav__label--open {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    transition: 0.5s ease-in-out;
    margin: 4px;
    position: fixed;

    span,
    span:before,
    span:after {
      position: absolute;
      width: 24px;
      height: 2px;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 3px;
      background: $color_text_spring;
      display: block;
      content: "";
      cursor: pointer;
      transition: all 0.3s;
    }

    span {
      transform: rotate(0deg);
      &::before {
        transform: translateY(-8px);
      }

      &::after {
        transform: translateY(8px);
      }
    }
  }

  #nav__label--close {
    display: none;
    position: fixed;
    z-index: 0;
    top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    background: rgba(0, 0, 0, 1);
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  #nav__content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    transition: 0.5s ease-in-out;
    transform: translateY(-105%);

    li {
      line-height: 60px;

      &:first-child {
        display: none;

        a {
          padding-left: 12px;
        }
      }
    }
  }

  #nav__input:checked ~ #nav__label--close {
    display: block;
    opacity: 0.5;
  }

  #nav__input:checked ~ #nav__content {
    transform: translateY(40px);
  }

  #nav__input:checked ~ #nav__label--open {
    span {
      background: $color_main_spring;

      &::before {
        transform: rotate(-45deg) translateY(0px);
      }

      &::after {
        transform: rotate(45deg) translateY(0px);
      }
    }
  }
}

@media screen and (min-width: $breakpoint_min) {
  #nav__input ~ #nav__label--close {
    display: none;
  }

  nav {
    height: 60px;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      li {
        flex-grow: 1;

        &:first-child {
          flex-grow: 2;
          font-size: 130%;
        }

        a {
          line-height: 60px;
        }
      }
    }
  }
}

/*sections*/
section {
  height: 100%;
  @extend %sectionArea;
  color: $color_text_spring;
}

.section__flexbox {
  display: flex;
  flex-wrap: wrap;
}

/*main*/
.main {
  font-size: 200%;
  text-align: center;
  background-position: center, center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*profile*/
.profile {
  &__box--img {
    height: 320px;
    flex: 1 2 320px;
    justify-content: center;
  }

  &__img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: block;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    position: absolute;
    top: 0;
    left: -120px;

    &:last-child {
      opacity: 0;
    }
  }

  &__name {
    font-size: 140%;
    border-bottom: $color_main_spring 1px dashed;
    margin-bottom: 16px;
  }

  &__box--txt {
    flex: 2 1 320px;
    flex-flow: column;
    justify-content: center;
    max-width: 640px;
    min-height: 320px;
  }

  &__button {
    &--box {
      display: inline-block;
      border-radius: 8px;
      border: $color_main_spring 2px solid;
      margin: 16px 0 0 auto;
    }

    &--link {
      border-radius: 8px;
      display: inline-block;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      color: $color_text_spring;
      font-size: 120%;
      position: relative;
      transition: all 0.3s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        background: $color_main_spring;
      }

      &::after {
        height: 0;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      &:hover {
        color: $color_base_spring;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      }

      &:hover:after {
        height: 100%;
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}

#profile__label {
  position: relative;
  top: calc(50% - 120px);
}

#profile__input:checked ~ #profile__label > .profile__img {
  transition: 0.5s ease-in-out;
  &:first-child {
    opacity: 0;
  }
  &:last-child {
    opacity: 1;
  }
}

/*works*/
.works {
  &__box {
    justify-content: center;
  }

  &__card {
    flex-flow: row wrap;
    align-content: flex-start;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 32px;
    transition: all 0.3s ease;

    @media screen and (max-width: 640px) {
      max-width: 240px;
      margin-right: 16px;
      margin-left: 16px;
    }

    @media screen and (min-width: 641px) and (max-width: $breakpoint_max) {
      max-width: 240px;
      &:nth-of-type(odd) {
        margin-right: 32px;
      }
    }

    @media screen and (min-width: $breakpoint_min) {
      max-width: 880px;
    }

    &:active {
      box-shadow: none;
    }
  }

  &__thumbnail {
    width: 240px;
    height: 240px;
  }

  &__txt {
    flex: 240px;
    padding: 16px;
    flex-flow: column;
  }

  &__ttl {
    font-size: 140%;
  }

  &__term {
    font-size: 80%;
    margin-bottom: 16px;
  }

  &__summary {
    flex: 1;
  }

  &__link {
    color: $color_main_spring;
    text-align: right;
    margin-top: 8px;
  }
}
